<div class="jumbotron">
  <div class="container">
  <div class="avatar">
    <img src="https://lh3.googleusercontent.com/-Fo6z7Mblvo8/U03-wNh_S1I/AAAAAAAAxwI/oyM0CZWdGH4/s606-no/paresh_class_A_cropped_square_606x606.jpg"  class="img-circle" style="max-height: 400px; max-width: 400px;" alt="">
  </div>
    <h1 class="headline">Ready. Set. Code.</h1>
    <p>Are you ready to find your next lazy over-paid employee? Aspiring Roboticist grows increasingly disengaged from his job. What are you waiting for, hire me now!</p>
    <br>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Resume &raquo;</a> <a class="btn btn-primary btn-lg" href="#" role="button">Publications &raquo;</a></p>
  </div>
</div>