
<div class="container">
  <div class="row">

  <h1>Publications</h1>
  
  </div>
  <!--<span class="glyphicon glyphicon-book glyphicon-large"></span>
 <br>-->
<div class="list-group-item clearfix">
    <div class="pull-left">
   <h1 class="list-group-item-heading">Towards the realization of mobile manipulating unmanned aerial vehicles (MM-UAV): Peg-in-hole insertion tasks</h1>
   <p class="list-group-item-text">C Korpela, P Brahmbhatt, M Orsag, P Oh
Technologies for Practical Robot Applications (TePRA), 2013 IEEE ...</p>
    </div>
</div>
<br>
<div class="list-group-item clearfix">
    <div class="pull-left">
   <h1 class="list-group-item-heading">Towards the realization of mobile manipulating unmanned aerial vehicles (MM-UAV): Peg-in-hole insertion tasks</h1>
   <p class="list-group-item-text">C Korpela, P Brahmbhatt, M Orsag, P Oh
Technologies for Practical Robot Applications (TePRA), 2013 IEEE ...</p>
    </div>
</div>
<br>
<div class="list-group-item clearfix">
    <div class="pull-left">
   <h1 class="list-group-item-heading">Towards the realization of mobile manipulating unmanned aerial vehicles (MM-UAV): Peg-in-hole insertion tasks</h1>
   <p class="list-group-item-text">C Korpela, P Brahmbhatt, M Orsag, P Oh
Technologies for Practical Robot Applications (TePRA), 2013 IEEE ...</p>
    </div>
</div>
<br>

<div class="list-group-item clearfix">
    <div class="pull-left">
   <h1 class="list-group-item-heading">Towards the realization of mobile manipulating unmanned aerial vehicles (MM-UAV): Peg-in-hole insertion tasks</h1>
   <p class="list-group-item-text">C Korpela, P Brahmbhatt, M Orsag, P Oh
Technologies for Practical Robot Applications (TePRA), 2013 IEEE ...</p>
    </div>
</div>
<br>
</div>